p{
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
}

div{
    display: inline;
    background-color: darkblue;
    color:white
}

a{
    display: block;
    background-color: cyan;
    color: blue;
}

.solid{
    border-style: solid;
}

.dashed{
    border-style: dashed;
}

#elem{
    position: relative;
    top: 20px;
    left: 400px;
    height: 200px;
    width: 200px;
}